 <!-- Page Content -->
<div class="container">

<div class="row" >

 <div class="col-sm-4" >
 
 <h1 class="my-4">Active Games</h1>
 
  <!-- Marketing Icons Section -->
      <div class="row-48" *ngFor="let gameapi of Games"> 
        <div class="col-48 mb-4" >
          <div class="card h-100" [hidden]="gameapi.game.active != 'true'">
          <h4 class="card-header"> {{gameapi.game.name}} </h4>
          	<button class="btn btn-outline-black form-control"   id="make-game-close" (click)='disableGame(gameapi.game.id)'>Close</button>
            <div class="card-body">
				 <div class="row form-black" *ngFor="let bet of gameapi.game.Bets">
 				 <div class="col">{{bet.name}}</div>
  				<div class="col">{{bet.odds}}</div>
  				<div class="col">
     				<button class="btn btn-outline-black form-control"   id="make-bet-win" (click)='winAction(bet.id)'>Win</button>
     <button class="btn btn-outline-black form-control"   id="make-bet-lose" (click)='loseAction(bet.id)'>Lose</button>
 </div>
    
  </div>
   
            </div>
          </div>
        </div>
      </div>
        <!-- /.row -->
   </div>
   
  
 </div>
   
  



              
