 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   
   <!-- Navigation -->
      <div class="container">
        <a class="navbar-brand" href="index.html">Welcome <label *ngIf="user">{{user.name | titlecase}}</label>   </a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
              <a  *ngIf="user" class="navbar-nav ml-auto" routerLink="/login">Login</a>
              <a  *ngIf="user" class="navbar-nav ml-auto" routerLink="/dashboard">Dashboard</a>
              <a  *ngIf="user" class="navbar-nav ml-auto" routerLink="/leaderboard">Leaderboard</a>
              <a  *ngIf="user" class="navbar-nav ml-auto" routerLink="/logout">Logout</a>
        </div>
      </div>
   </nav>